button {
background-color: #f8f9fa;
color:#3c4043;
border: 0;
margin: 8px;
padding: 9px;
font-family: arial,sans-serif;
}
footer {
    font-family: arial, san-serif;
    color: #3c4043;
    font-size: 10pt;
    background-color: #f8f9fa;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#navbar {
    font-family: arial, san-serif;
    font-size: 10pt;
    position: fixed;

}
#search-text {
    border: 1px solid rgb(206, 197, 197);
    border-radius: 15px;
    height: 30px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#search-text:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);

}
img.logo{
   display: block;
    margin-left: auto;
    margin-right: auto;
}
.search-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}
